# Environment variables and secrets
.env
.env.local
.env.*.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# IDE & OS files
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
